<div class="container">
  <div id="documentation">
    <div class="row">
      <div class="col-lg-3">
        <div class="navbar">
          <ul>
            <li><a href="#">Getting Started</a></li>
            <li><a href="#">Configuring</a></li>
            <li><a href="#">Lateral</a></li>
            <li><a href="#">Lateral</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-9">
        <div class="text">
          <h2 class="h1">Getting Started</h2>
          <p><strong>Note:</strong> Valor is an unstable node boilerplate, at the moment. It's not recommended to use it in production softwares.
          You can contribute in <a href="#">GitHub</a> and help to launch the first stable version.</p>
          <hr>

          <h3 class="h2">Installing</h3>
          <p>There are two ways to install the latest version of Valor:</p>
          <ol>
            <li>Clone the master branch of oficial GitHub repo</li>
            <li>Download and extract the zip from <a href="#">download versions page</a>.</li>
          </ol>

          <p>If you choose to clone the github repository, you'll need to truncate some unneeded files with: <code class="inline">node valor truncate</code>.</p>

          <p class="small-margin">
            <small>Example of GitHub installation:</small>
          </p>
          <pre><code class="shell">$ git clone https://github.com/danielbonifacio/valor valor

$ cd valor

$ node valor truncate

$ npm start</code></pre>
          <p></p>
          <hr>

          <h3 class="h2">Server requirements</h3>
          <p>Maybe it can work with node 5.6.x, but I just tested (and developed) with node 6.4.1</p>
          <p>If you don't know how to see your node version, just type <code class="inline">node --version</code> in your system's terminal.</p>
        </div>
      </div>
    </div>
  </div>
</div>