<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>

  <link rel="stylesheet" href="/static/assets/css/vendor.css">
  <link rel="stylesheet" href="/static/assets/css/main.css">
</head>

<body>
  <p>uehueheheuheu</p>
  <script src="reload/reload.js"></script>
</body>

</html>