<!DOCTYPE html>
<html>
{{> head }}
<body>
{{> nav }}
{{{ body }}}
<script src="/reload/reload.js"></script>
<script src="/static/assets/js/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>