<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ _page.title }}</title>

  <link rel="stylesheet" href="/static/assets/css/vendor.css">
  <link rel="stylesheet" href="/static/assets/css/valor.css">
  <link rel="stylesheet" href="/static/assets/css/main.css">

  <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
  <link rel="manifest" href="/static/icons/site.webmanifest">
  <link rel="mask-icon" href="/static/icons/safari-pinned-tab.svg" color="#d33831">
  <link rel="shortcut icon" href="/static/icons/favicon.ico">
  <meta name="msapplication-TileColor" content="#1f1d20">
  <meta name="msapplication-config" content="/static/icons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
</head>
