<nav>
  <div class="container">
    <ul>
      <li>
        <a href="{{ web 'docs' }}">Documentation</a>
      </li>
      <li>
        <a href="{{ web 'index' }}">Home</a>
      </li>
      <li>
        <a href="#">Donate</a>
      </li>
    </ul>
  </div>
</nav>